@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    display: inline;
    text-decoration: none;
  }

button {
    cursor: pointer;
}

button:hover {
   opacity: .8;
}




/* 

NAVIGATION

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
  }

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link:hover {
    text-decoration: underline;
    
}

.nav__link--primary:hover {
    text-decoration: none;
    opacity: .8;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    margin-top: 0px;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary::after {
    content: "";
    width: 0;
    height: 0;
}

a.nav__link {
    display: inline;
    text-decoration: none;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

header {
    position: relative;
}

header .row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.header__description {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
  }

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
  }

.header__customers--title {
    margin-top: 48px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    padding-right: 0px;
    margin-top: 16px;
    width: 100%;
}

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
  }

  .feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
  }

.feature__title {
    line-height: 1;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
  }



/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description, 
.quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#quality .section__title,
#values .section__title {
  line-height: 1.25;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    padding-bottom: 24px;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}

.quality__img {
    width: 100%;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
  }

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description,
.steps__img--wrapper {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    width: 100%;
    z-index: 2;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}

  .steps__description {
    padding: 32px 0;
      padding-left: 0px;
    padding-left: 64px;
}

  .step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
  }






/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
    header .row {
      align-items: flex-end;
    }
  
    .steps__grid {
      height: 5rem;
      width: 5rem;
      bottom: -50px;
    }
    h1 {
      font-size: 36px;
      color: #1a202c;
      line-height: 1.25;
    }
    .header__description--para {
      font-size: 16px;
    }
    .header__customers {
      padding-right: 64px;
    }
    .header__img--wrapper {
      display: flex;
      justify-content: flex-end;
    }
    .header__img {
      max-width: 512px;
    }
    .plan__button {
      max-width: none;
    }
  
    .plan__bottom {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .testimonials__img {
      width: 40%;
    }
    .testimonials__description {
      width: calc(100% - 40%);
    }
  }
  @media (max-width: 1024px) {
    .nav__links {
      display: none;
    }
    .btn__menu {
      display: block;
    }
    header .row {
      flex-direction: column;
      align-items: center;
    }
    .header__description,
    .header__img--wrapper {
      width: 100%;
      max-width: 512px;
      margin: 0 auto;
    }
    .header__description {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      font-size: 30px;
    }
    .header__description--para {
      margin: 20px 0;
    }
    .header__customers {
      padding-right: 0px;
    }
    .header__customers--title,
    .header__img--wrapper {
      margin-top: 48px;
    }
    .features {
      max-width: 768px;
    }
    .feature {
      width: calc(50%);
    }
    .feature__title {
      line-height: 1;
    }
    .feature__row {
      padding: 32px 8px;
      margin: 0 16px;
    }
    .feature__para {
      max-width: none;
    }
    .section__para {
      font-size: 16px;
    }
    .section__title {
      font-size: 36px;
    }
    .quality__description {
      margin-right: 0px;
      padding-right: 48px;
    }
    .value {
      margin-top: 2.5rem;
    }
  
    .values__list {
      max-width: 20rem;
      flex-direction: column;
    }
    .plans {
      flex-direction: column;
      align-items: center;
    }
  
    .plan {
      margin-right: 0px;
    }
    #features .section__title,
    #pricing .section__title {
      font-size: 48px;
    }
  
    #testimonials .container {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .testimonials__description {
      padding-left: 48px;
    }
  
    #start .container {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  
    .start__row {
      flex-direction: column;
    }
    .start__title {
      text-align: center;
      width: 100%;
      max-width: 512px;
    }
    .start__buttons {
      width: auto;
      margin-top: 24px;
    }
    .start__button {
      padding: 16px 32px;
    }
    footer {
      padding: 80px 32px;
    }
  }
  @media (max-width: 768px) {
    .features {
      justify-content: center;
    }
    .feature {
      width: auto;
      max-width: 384px;
    }
    .section__para {
      font-size: 14px;
    }
    #quality .row,
    #values .row {
      flex-direction: column-reverse;
    }
    .quality__description,
    .steps__description,
    .values__description,
    .testimonials__description {
      padding: 0;
      margin-top: 64px;
      text-align: center;
    }
    .quality__description,
    .quality__img--wrapper,
    .steps__description,
    .steps__img--wrapper,
    .values__description,
    .values__img,
    .testimonials__description,
    .testimonials__img {
      width: 100%;
      max-width: 448px;
    }
    #steps .row,
    #testimonials .row {
      flex-direction: column;
    }
  
    .step {
      flex-direction: column;
      align-items: center;
    }
    .step__description {
      margin-top: 12px;
      margin-left: 0;
    }
    .values__list {
      margin-left: auto;
      margin-right: auto;
    }
    .value:nth-of-type(1) {
      margin-right: 0px;
    }
    .value {
      margin-right: 0px;
      align-items: center;
    }
    #pricing .row {
      margin-top: 40px;
    }
    .testimonials__description {
      padding-left: 0;
    }
    .footer__columns {
      justify-content: flex-start;
    }
    .footer__column {
      width: calc(100% / 3);
    }
    .footer__bottom {
      flex-direction: column;
      align-items: center;
    }
    .footer__copyright,
    .footer__socials {
      margin-top: 32px;
    }
    .footer__socials {
      margin-left: 0px;
    }
    .footer__social--link:first-child {
      margin-left: 0px;
    }
  }
  @media (max-width: 640px) {
    .section__title {
      line-height: 1.25;
    }
    .container {
      padding: 80px 0;
    }
    .nav__logo {
      margin: 8px 0;
      padding-bottom: 4px;
    }
    .header__email {
      flex-direction: column;
      height: auto;
    }
    .header__email--input {
      position: static;
      padding: 16px 0;
      padding-left: 32px;
      line-height: 1.5;
    }
    .header__email--btn {
      width: 100%;
      padding: 16px 0;
      margin: 16px 0;
      margin-bottom: 0px;
      line-height: 1.5;
    }
    .header__customers--title {
      font-size: 14px;
      letter-spacing: 0.05em;
    }
    .section__title {
      font-size: 30px;
    }
    #features .section__title,
    #pricing .section__title {
      font-size: 36px;
    }
    .feature__row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .feature__title {
      letter-spacing: 0.025em;
      line-height: 1;
    }
    .feature__text {
      margin-left: 0px;
      margin-top: 16px;
    }
    .feature__para {
      margin-top: 4px;
      line-height: 2;
    }
    #steps .section__title {
      margin: 16px 0 0 0;
    }
    .steps__list {
      margin-top: 48px;
    }
    .btn {
      line-height: 1.5;
    }
    .plan__price {
      font-size: 36px;
    }
    .plan__bottom {
      padding: 2rem 1rem;
    }
    .testimonial__para {
      margin-bottom: 32px;
    }
    .testimonial__bottom {
      flex-direction: column;
      align-items: center;
      padding-top: 4px;
    }
    .testimonial__profile {
      flex-direction: column;
      align-items: center;
    }
    .testimonial__details {
      margin-left: 0;
      margin-top: 8px;
    }
    .testimonial__img {
      height: 64px;
      width: 64px;
    }
    .testimonial__buttons {
      margin-top: 32px;
    }
    .start__title {
      font-size: 24px;
    }
    .start__container {
      padding: 80px 0;
    }
    .start__buttons {
      flex-direction: column;
    }
    .start__button:nth-child(1) {
      margin-right: 0;
    }
    .start__button {
      padding: 12px 24px;
      font-size: 14px;
    }
    .start__button:nth-child(2) {
      margin-top: 16px;
    }
    main {
      margin-bottom: 80px;
    }
    .footer__columns {
      justify-content: center;
    }
    .footer__column {
      width: auto;
      padding: 0 16px;
      text-align: center;
      align-items: center;
    }
    .footer__copyright {
      font-size: 14px;
      text-align: center;
      line-height: 1.5;
    }
  }
  